@font-face {
    font-family: ubuntu;
    src: url('../font/Ubuntu-Regular.ttf');
  }

@font-face {
    font-family: ubuntu-bold;
    src: url('../font/Ubuntu-Bold.ttf');
  }

body {
  font-family: 'ubuntu';
}  

.logo {
  font-family: 'ubuntu-bold';
  padding: 10px;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


